<!-- <table>
  <thead>
    <th>Id</th>
    <th>Name</th>
  </thead>
<tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
  </tr>
</tbody>

</table> -->


<h3 class="first">Basic</h3>
<p-table [value]="users">
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Name</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
      </tr>
  </ng-template>
</p-table>
